<section class='lg:flex gap-x-8 justify-center text-pretty items-center'>
  <div class='[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold'>
    <!-- <p>
        Mi nombre es Unai González y tengo 22 años. Ya desde pequeño me apasionaba "construir cosas", ya fuese montar legos, dibujar, etc... Cuando empecé a
        crecer no se me fue esa afición, seguí haciendo dibujos de vez en cuando, y conocí otra cosa que tambien me encantaba, los coches, que en cierto
        modo también se podria llegar a asociar mucho a "construir cosas", ya que lo que mas me apasionaba de los coches, a parte de los coches en si, era
        la mecánica y saber como funcionaban.
      </p> -->
    <p>
      Me llamo <strong>Unai González y tengo 22 años</strong>. Desde pequeño, me apasionaba "construir cosas", ya fuera montando legos o dibujando. A
      medida que crecí, esa afición continuó, y descubrí algunas aficiones más, como los coches y los videojuegos, lo que me llevo a interesarme por
      los ordenadores y la tecnología.
    </p>

    <!-- <p>
          Un poco mas adelante, bastante mas tarde que el resto de personas que conozco, sobre los 15/16 años me di cuenta de que me encantaban los
          videojuegos, por lo que me compré un ordenador para jugar con amigos, y acabé descubriendo que me gustaban los ordenadores y la tecnología, por lo
          que, estando en cuarto de la ESO y teniendo que decidir que es lo que queria hacer con mi futuro, tuve que decidir entre la mecánica o la
          informática, y efectivamente, acabe apuntandome a un grado medio de informática.
        </p> -->

    <p>
      Cuando acabé la ESO, tuve que decidirme entre la mecánica o la informática, y acabé optando por la informática, ahí fue donde un profesor, al
      cual estaré agradecido siempre, nos introdujo a la <strong>programación</strong>, y me di cuenta al momento que era eso a lo que me quería
      dedicar, pasar el resto de mi vida haciendo lo que me gustaba, "construir cosas" en este caso, páginas web.
    </p>

    <p></p>

    <p>
      Dentro de la programación lo que mas me gusta es el <strong>desarrollo Front-End</strong>, y ofrecer al usuario la mejor experiencia posible.
      Cuento con <strong>1 año de experiencia</strong> en una empresa donde <strong
        >ayudé a seguir desarrollando y mantener una aplicación interna para la gestión de la empresa</strong
      >. También ayudé a desarrollar una aplicación para una empresa externa.
    </p>
  </div>
  <img src='/public/images/hero-banner.webp' alt='Unai González' class='rounded-4xl md:size-64 hidden md:block' />
</section>

<style>
  .img-hero {
    -webkit-mask-image: url(/public/images/mask.webp);
    mask-image: url(/public/images/mask.webp);
  }
</style>
