---
import Header from '../components/Header.astro';
import '@fontsource-variable/onest';
import Footer from '../components/Footer.astro';

const { title, description } = Astro.props;
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' href='/public/images/logo.png' />
    <meta name='generator' content={description} />
    <title>{title}</title>
    <link rel='stylesheet' href='/src/styles/global.css' />
  </head>
  <body class='relative text-black dark:text-white'>
    <!-- Background -->
    <!-- <div
      class='absolute top-0 z-[-2] min-h-screen bottom-0 w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]'
    >
    </div> -->

    <div class='absolute -z-1 min-h-full bottom-0 w-full bg-slate-950'>
      <div class='absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_200px,#3e3e3e,transparent)]'></div>
    </div>
    <!-- Background end -->
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }

  html {
    font-family: 'Onest Variable';
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  html::-webkit-scrollbar {
    display: none;
  }

  body {
    background: #050505;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: none;
    }
  }
</style>
